In [1]:
import pandas as pd
import numpy as np

melb = pd.read_csv('../../../Datasets/kaggle/melb_data.csv')

In [4]:
#Handling Missing Values
# get the number of missing data points per column
missing_values_count = melb.isnull().sum()
missing_values_count

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [6]:
# look at the # of missing points in the first 21 columns
missing_values_count[0:21]

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
# how many total missing values do we have?
total_cells = np.product(melb.shape)
total_missing = missing_values_count.sum()

In [8]:
# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

4.648292306613367

In [9]:
#Figure out why the data is missing

In [10]:
# Is this value missing because it wasn't recorded or because it doesn't exist?

# If a value is missing becuase it doesn't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probably do want to keep as NaN. On the other hand, if a value is missing because it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. This is called imputation, and we'll learn how to do it next! :)

In [11]:
#Drop missing values
# remove all the rows that contain a missing value
melb.dropna()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,...,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,...,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan,3265
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,...,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan,11308
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,...,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan,10331
5,Toorak,17 Albany Rd,3,h,6250000,S,Kay,15/10/2016,4.6,3142,...,3,2.0,564,342.0,2000.0,Stonnington,-37.84860,145.02440,Southern Metropolitan,7217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,Albion,1/121 Anderson Rd,1,u,200000,VB,FN,20/05/2017,13.9,3020,...,1,1.0,1175,35.0,1970.0,Brimbank,-37.78490,144.82720,Western Metropolitan,2185
13571,Albion,10/117 Anderson Rd,1,u,185000,S,hockingstuart,22/08/2016,13.9,3020,...,1,1.0,2347,43.0,1975.0,Brimbank,-37.78520,144.82720,Western Metropolitan,2185
13573,Footscray,10/30 Pickett St,1,u,170000,PI,Burnham,01/07/2017,5.1,3011,...,1,0.0,30,26.0,2013.0,Maribyrnong,-37.80141,144.89587,Western Metropolitan,7570
13576,Coburg,171 Moreland Rd,4,h,145000,PI,Jellis,04/06/2016,7.8,3058,...,1,1.0,536,164.0,1910.0,Moreland,-37.75550,144.96580,Northern Metropolitan,11204
13578,Caulfield,30 Pyne St,4,h,131000,PI,Rodney,25/02/2017,8.9,3162,...,1,2.0,499,155.0,1920.0,Glen Eira,-37.88640,145.02420,Southern Metropolitan,2379

In [12]:
# remove all columns with at least one missing value
columns_with_na_dropped = melb.dropna(axis=1)
columns_with_na_dropped.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,3,1,744,-37.93168,145.16126,South-Eastern Metropolitan,7113
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,5,5,2079,-37.81790,145.06940,Southern Metropolitan,3265
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,4,2,1690,-37.82652,145.03052,Southern Metropolitan,11308
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,6,6,1334,-37.80290,145.02670,Southern Metropolitan,10331
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,5,2,553,-37.84908,144.95753,Southern Metropolitan,2019

In [13]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % melb.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 21

Columns with na's dropped: 17

In [14]:
# Filling in missing values automatically

# get a small subset of the NFL dataset
subset_melb = melb.loc[:, 'Suburb':'Regionname'].head()
subset_melb

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,3,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,5,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,4,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,6,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,5,2,1.0,553,308.0,1920.0,NaN,-37.84908,144.95753,Southern Metropolitan

In [15]:
# replace all NA's with 0
subset_melb.fillna(0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,3,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,5,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,4,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,6,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,5,2,1.0,553,308.0,1920.0,0,-37.84908,144.95753,Southern Metropolitan

In [16]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_melb.fillna(method='bfill', axis=0).fillna(0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,3,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,5,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,4,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,6,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,5,2,1.0,553,308.0,1920.0,0,-37.84908,144.95753,Southern Metropolitan