In [1]:
#---------------------
#Groupwise analysis

In [2]:
import pandas as pd
melb = pd.read_csv('../../../Datasets/kaggle/melb_data.csv')
melb.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,...,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,...,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan,3265
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,...,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan,11308
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,...,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan,10331
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,...,2,1.0,553,308.0,1920.0,NaN,-37.84908,144.95753,Southern Metropolitan,2019

In [26]:
melb.groupby('Postcode').Postcode.count()
#also, melb.groupby('Postcode').size()

Postcode
3000    46
3002    22
3003    31
3006    41
3008     3
        ..
3809     1
3810     3
3910     6
3976     4
3977     8
Name: Postcode, Length: 198, dtype: int64

In [6]:
melb.groupby('Price').Price.min()

Price
85000        85000
131000      131000
145000      145000
160000      160000
170000      170000
            ...
6400000    6400000
6500000    6500000
7650000    7650000
8000000    8000000
9000000    9000000
Name: Price, Length: 2204, dtype: int64

In [9]:
melb.groupby('Suburb').apply(lambda df: df.Regionname.iloc[0])

Suburb
Abbotsford      Northern Metropolitan
Aberfeldie       Western Metropolitan
Airport West     Western Metropolitan
Albanvale        Western Metropolitan
Albert Park     Southern Metropolitan
                        ...
Wonga Park           Eastern Victoria
Wyndham Vale     Western Metropolitan
Yallambie       Northern Metropolitan
Yarra Glen          Northern Victoria
Yarraville       Western Metropolitan
Length: 314, dtype: object

In [11]:
melb.groupby(['Suburb', 'Regionname']).apply(lambda df: df.loc[df.Price.idxmin()])

,,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,Regionname,,,,,,,,,,,,,,,,,,,,,
Abbotsford,Northern Metropolitan,Abbotsford,6/241 Nicholson St,1,u,300000,S,Biggin,08/10/2016,2.5,3067,...,1,1.0,0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019
Aberfeldie,Western Metropolitan,Aberfeldie,4/37 St Kinnord St,1,u,280000,VB,Nelson,22/07/2017,7.5,3040,...,1,1.0,0,NaN,1970.0,Moonee Valley,-37.75875,144.90270,Western Metropolitan,1543
Airport West,Western Metropolitan,Airport West,145a Victory Rd,2,u,440000,S,Barry,13/08/2016,13.5,3042,...,1,1.0,192,NaN,NaN,Moonee Valley,-37.71770,144.87870,Western Metropolitan,3464
Albanvale,Western Metropolitan,Albanvale,51a President Rd,2,u,415000,SP,Biggin,12/08/2017,14.0,3021,...,1,1.0,218,NaN,NaN,Brimbank,-37.74839,144.77350,Western Metropolitan,1899
Albert Park,Southern Metropolitan,Albert Park,13/52 Moubray St,1,u,442500,S,Marshall,25/02/2017,3.3,3206,...,1,0.0,0,34.00,1970.0,Port Phillip,-37.84210,144.95170,Southern Metropolitan,3280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wonga Park,Eastern Victoria,Wonga Park,2 Rindlebrook Pl,3,h,900000,VB,Morrison,12/08/2017,25.2,3115,...,2,2.0,0,177.00,NaN,Manningham,-37.75912,145.28886,Eastern Victoria,1328
Wyndham Vale,Western Metropolitan,Wyndham Vale,11 Chisholm Pl,3,h,475000,S,hockingstuart,19/08/2017,27.2,3024,...,2,1.0,300,179.00,NaN,NaN,-37.88162,144.62082,Western Metropolitan,5262
Yallambie,Northern Metropolitan,Yallambie,340 Yallambie Rd,3,h,602500,S,Ray,13/08/2016,15.0,3085,...,2,2.0,586,140.00,1970.0,Banyule,-37.72790,145.10170,Northern Metropolitan,1369
Yarra Glen,Northern Victoria,Yarra Glen,15 Yarra St,3,h,620000,SP,Buckingham,22/07/2017,31.4,3775,...,2,1.0,863,180.56,1975.0,Yarra Ranges,-37.65391,145.37389,Northern Victoria,1160
Yarraville,Western Metropolitan,Yarraville,3/107 Somerville Rd,2,u,330000,VB,Jas,10/09/2016,7.0,3013,...,1,1.0,0,NaN,1970.0,Maribyrnong,-37.81330,144.88650,Western Metropolitan,6543

In [12]:
#agg(), which lets you run a bunch of different functions on your DataFrame simultaneously

In [13]:
melb.groupby(['Suburb']).Price.agg([len, min, max])

              len     min      max
Suburb
Abbotsford     56  300000  1876000
Aberfeldie     44  280000  3900000
Airport West   67  440000  1250000
Albanvale       6  415000   655000
Albert Park    69  442500  4735000
...           ...     ...      ...
Wonga Park      1  900000   900000
Wyndham Vale    4  475000   500000
Yallambie      24  602500  1670000
Yarra Glen      1  620000   620000
Yarraville    164  330000  2450000

[314 rows x 3 columns]

In [16]:
#-----------------
#Multi-indexes

#Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value.
#However, in general the multi-index method you will use most often is the one for converting back to a regular index, the reset_index() method

address_check = melb.groupby(['Suburb', 'Regionname']).Address.agg([len])
address_check

                                    len
Suburb       Regionname
Abbotsford   Northern Metropolitan   56
Aberfeldie   Western Metropolitan    44
Airport West Western Metropolitan    67
Albanvale    Western Metropolitan     6
Albert Park  Southern Metropolitan   69
...                                 ...
Wonga Park   Eastern Victoria         1
Wyndham Vale Western Metropolitan     4
Yallambie    Northern Metropolitan   24
Yarra Glen   Northern Victoria        1
Yarraville   Western Metropolitan   164

[314 rows x 1 columns]

In [18]:
mi = address_check.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [19]:
address_check.reset_index()

           Suburb             Regionname  len
0      Abbotsford  Northern Metropolitan   56
1      Aberfeldie   Western Metropolitan   44
2    Airport West   Western Metropolitan   67
3       Albanvale   Western Metropolitan    6
4     Albert Park  Southern Metropolitan   69
..            ...                    ...  ...
309    Wonga Park       Eastern Victoria    1
310  Wyndham Vale   Western Metropolitan    4
311     Yallambie  Northern Metropolitan   24
312    Yarra Glen      Northern Victoria    1
313    Yarraville   Western Metropolitan  164

[314 rows x 3 columns]

In [ ]:
#Sorting

In [22]:
address_check = address_check.reset_index()
address_check.sort_values(by='len', ascending=True)

     level_0  index          Suburb                  Regionname  len
201      201    201        Montrose            Eastern Victoria    1
291      291    291          Wallan           Northern Victoria    1
149      149    149     Healesville           Northern Victoria    1
44        44     44      Brookfield            Western Victoria    1
247      247    247       Sandhurst  South-Eastern Metropolitan    1
..       ...    ...             ...                         ...  ...
46        46     46       Brunswick       Northern Metropolitan  222
234      234    234         Preston       Northern Metropolitan  239
30        30     30  Bentleigh East       Southern Metropolitan  249
237      237    237        Richmond       Northern Metropolitan  260
236      236    236       Reservoir       Northern Metropolitan  359

[314 rows x 5 columns]

In [23]:
address_check.sort_index()

     level_0  index        Suburb             Regionname  len
0          0      0    Abbotsford  Northern Metropolitan   56
1          1      1    Aberfeldie   Western Metropolitan   44
2          2      2  Airport West   Western Metropolitan   67
3          3      3     Albanvale   Western Metropolitan    6
4          4      4   Albert Park  Southern Metropolitan   69
..       ...    ...           ...                    ...  ...
309      309    309    Wonga Park       Eastern Victoria    1
310      310    310  Wyndham Vale   Western Metropolitan    4
311      311    311     Yallambie  Northern Metropolitan   24
312      312    312    Yarra Glen      Northern Victoria    1
313      313    313    Yarraville   Western Metropolitan  164

[314 rows x 5 columns]

In [24]:
address_check.sort_values(by=['Suburb', 'len'])

     level_0  index        Suburb             Regionname  len
0          0      0    Abbotsford  Northern Metropolitan   56
1          1      1    Aberfeldie   Western Metropolitan   44
2          2      2  Airport West   Western Metropolitan   67
3          3      3     Albanvale   Western Metropolitan    6
4          4      4   Albert Park  Southern Metropolitan   69
..       ...    ...           ...                    ...  ...
309      309    309    Wonga Park       Eastern Victoria    1
310      310    310  Wyndham Vale   Western Metropolitan    4
311      311    311     Yallambie  Northern Metropolitan   24
312      312    312    Yarra Glen      Northern Victoria    1
313      313    313    Yarraville   Western Metropolitan  164

[314 rows x 5 columns]

In [25]:
#--------------------------
#Qs

In [31]:
suburb_mean = melb.groupby('Suburb')['Price'].mean().sort_index()
suburb_mean

Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64

In [34]:
suburb_counts = melb.groupby(['Suburb', 'Regionname']).size().sort_values(ascending=False)
suburb_counts

Suburb              Regionname
Reservoir           Northern Metropolitan         359
Richmond            Northern Metropolitan         260
Bentleigh East      Southern Metropolitan         249
Preston             Northern Metropolitan         239
Brunswick           Northern Metropolitan         222
                                                 ...
Attwood             Northern Metropolitan           1
Beaconsfield Upper  Eastern Victoria                1
Bacchus Marsh       Western Victoria                1
Sandhurst           South-Eastern Metropolitan      1
Officer             Eastern Victoria                1
Length: 314, dtype: int64